.categories {
  &__content {
    padding: rem(32px) 0px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(0px) rem(83px);
  }

  &__list {

  }

  &__item {
    font-family: 'Montserrat', sans-serif;
    font-size: rem(24px);
    font-weight: 500;
    line-height: 130%;
    color: #002660;
    &:not(:last-child) {
      margin-bottom: rem(20px);
    }
  }

  &__link {
    color: #002660;
    transition: 0.4s ease-out;
    &:hover {
      opacity: 0.6;
    }
  }

  &__sublist {
    padding-left: rem(10px);
    margin-top: rem(15px);
  }

  &__sub-item {
    font-family: 'Montserrat', sans-serif;
    font-size: rem(16px);
    font-weight: 400;
    line-height: 103%;
    &:not(:last-child) {
      margin-bottom: rem(10px);
    }
  }

  &__sub-link {
    color: #002660;
    transition: 0.4s ease-out;
    &:hover {
      opacity: 0.6;
    }
  }

  @media (max-width: 991px) {
    &__item {
      font-size: rem(18px);
    }
  }

  @media (max-width: 767px) {
    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: (30px);
    }
  }

  @media (max-width: 480px) {
    &__inner {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: (15px);
    }

     &__content {
       background: #F5F5F5;
       padding: rem(20px) 0px rem(40px);
     }

    &__item {
      font-size: rem(20px);
    }

     &__sublist {
       padding-left: 0px;
       margin-top: rem(10px);
     }


    &__item:not(:last-child) {
      margin-bottom: rem(15px);
    }

  }
}
