.catalog {
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(10px);
    margin-bottom: rem(40px);
  }

  &__item {
    overflow: hidden;
    border-radius: rem(30px);
    position: relative;
    padding: rem(20px) rem(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: rem(283px);

    &:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
  }

  &__img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.4s ease-out;
  }

  &__item:hover &__img {
    transform: scale(1.04);
  }

  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: rem(26px);
    line-height: 130%;
    color: #ffffff;
    text-align: center;
    margin-bottom: rem(15px);
    position: relative;
    z-index: 1;
  }

  &__btn {
    position: relative;
    z-index: 1;
  }

  @media (max-width: 991px) {
    &__items {
      grid-template-columns: 1fr;
    }

    &__item {
      min-height: rem(200px);
    }
  }

  @media (max-width: 480px) {
    &__item {
      min-height: rem(138px);
      border-radius: rem(20px);
    }

    &__subtitle {
      font-size: rem(24px);
      margin-bottom: rem(15px);
    }

    &__btn {
      width: 100%;
    }
  }
}

.section-content {
  padding: rem(160px) 0px rem(32px);

  @media (max-width: 1412px) {
    padding: rem(200px) 0px rem(32px);
  }
  @media (max-width: 991px) {
    padding: rem(298px) 0px rem(32px);
  }
  @media (max-width: 767px) {
    padding: rem(312px) 0px rem(32px);
  }
  @media (max-width: 480px) {
    padding: rem(335px) 0px rem(32px);
  }
}

.title-h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: rem(32px);
  line-height: 130%;
  color: #3A3A3A;
  margin-bottom: rem(40px);
  @media (max-width: 480px) {
    font-size: rem(28px);
    text-align: center;
    margin-bottom: rem(35px);
  }
}

.wp-redactor {
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: rem(26px);
    line-height: 130%;
    color: #3A3A3A;
    margin-bottom: rem(20px);
    margin-top: rem(30px);
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: rem(24px);
    line-height: 130%;
    color: #3A3A3A;
    margin-bottom: rem(20px);
  }

  br {
    display: none;
  }

  h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: rem(18px);
    line-height: 130%;
    color: #3A3A3A;
    margin-bottom: rem(20px);
    margin-top: rem(30px);
  }

  a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: rem(18px);
    line-height: 130%;
    color: #003B81;
    text-decoration: underline;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: rem(18px);
    line-height: 130%;
    color: #3A3A3A;
    margin-bottom: rem(20px);
  }

  div {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: rem(18px);
    line-height: 130%;
    color: #3A3A3A;
    margin-bottom: rem(20px);

    &:before {
      content: '';
      width: rem(34px);
      height: rem(2px);
      background: #003B81;
      display: inline-block;
      margin-bottom: rem(5px);
      margin-right: rem(12px);
    }
  }


  li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: rem(18px);
    line-height: 130%;
    color: #3A3A3A;
  }

  ul {
    padding-left: rem(10px);
    margin-bottom: rem(30px);
    li {
      position: relative;
      padding-left: rem(15px);

      &::before {
        content: '';
        position: absolute;
        top: rem(9px);
        left: 0px;
        width: rem(5px);
        height: rem(5px);
        border-radius: 50%;
        background: #3A3A3A;
      }
    }
  }

  ol {
    margin-bottom: rem(20px);
    li {
      list-style-type: decimal;
      list-style-position: inside;
      &:not(:last-child) {
        margin-bottom: rem(10px);
      }
    }
  }


  @media (max-width: 480px) {
    h3 {
      font-size: rem(24px);
      text-align: center;
      margin-bottom: rem(15px);
    }
    p {
      text-align: center;
      font-size: rem(14px);
      margin-bottom: rem(10px);
    }
    div {
      font-size: rem(14px);

      &:before {
        margin-bottom: rem(4px);
      }
    }
    li  {
      font-size: rem(14px);
    }

    a {
      font-size: rem(14px);
    }

    ol {
      li {
        text-align: center;
      }
    }
    ul {
      li {
        &::before {
          content: '';
          position: absolute;
          top: rem(7px);
          left: 0px;
          width: rem(5px);
          height: rem(5px);
          border-radius: 50%;
          background: #3A3A3A;
        }
      }
    }
  }
}