.footer-menu {
  display: none;
  width: 100%;
  background: #ffffff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
  height: rem(69px);
  z-index: 1;


  &__item {
    text-align: center;
    position: relative;
    padding-bottom: rem(6px);
    &:before {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 0);
      width: rem(72px);
      height: rem(4px);
      border-radius: rem(7px);
      background: #003B80;
      transition: 0.4s ease-out;
      opacity: 0;
    }
    &.active:before {
      opacity: 1;
    }
    &:not(:last-child) {
      margin-right: rem(25px);
    }
  }


  &__icon {
    margin-bottom: rem(2px);
    path,
    rect {
      transition: 0.4s ease-out;
    }

  }



  &__item.active  &__icon path,
  &__item.active  &__icon rect {
    stroke: #003B81;
  }

  &__text {
    font-family: 'Manrope', sans-serif;
    font-size: rem(12px);
    font-weight: 500;
    line-height: 110%;
    color: #777777;
    transition: 0.4s ease-out;
  }

  &__item.active &__text {
    color:  #003B81;
  }

  &__link:hover  &__text {
    color: #003B81;
  }

  &__number {
    font-family: 'Manrope', sans-serif;
    font-size: rem(8px);
    font-weight: 500;
    line-height: 118%;
    color: #ffffff;
    width: rem(14px);
    height: rem(14px);
    border-radius: 50%;
    position: absolute;
    top: rem(0px);
    right: rem(2px);
    background: #003B81;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 480px) {
    display: flex;
  }
}