.form-file {
  padding: rem(50px);
  border-radius: rem(20px);
  background: #003B81;
  margin-bottom: rem(30px);


  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: rem(36px);
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: rem(20px);
  }


  &__box {
    margin-top: rem(20px);

    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: rem(16px);
      width: 100%;
    }
  }

  &__input {
    border-radius: rem(47px);
    background: #FFFFFF;
    padding: 0px rem(20px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: rem(16px);
    line-height: 110%;
    color: #3A3A3A;
    height: rem(46px);
    width: 100%;
    &::placeholder {
      color: #3A3A3A;
    }
  }

  &__input:nth-child(4) {
    grid-column: 1/3;
  }

  &__button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: rem(8px);
    cursor: pointer;
  }


  &__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: rem(12px);
    line-height: 130%;
    color: #FFFFFF;
    max-width: rem(312px);
    margin-top: rem(2px);
  }

  &__link {
    color: #FFFFFF;
    text-decoration: underline;
  }

  &__box {
    max-width: 100%;
    grid-gap: rem(16px);
  }


  span {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    span {
      margin-bottom: rem(5px);
      font-family: 'Montserrat', sans-serif;
      font-size: rem(14px);
      font-weight: 600;
      line-height: 130%;
    }

    .wpcf7-not-valid-tip {
      order: -1;
    }
  }


  span:nth-child(2) {
    grid-column: 1/3;
  }

  span:nth-child(5),
  span:nth-child(6) {
    grid-column: 1/3;
  }

  &__input[type="file"] {
    grid-column: 1/3;
    padding: rem(10px) rem(20px);
  }
  &__text {
    grid-column: 1/3;
  }

  &__button {
    width: rem(289px);
  }



  //checkbox

  &__checkbox input {
    display: none;
  }

  .wpcf7-list-item-label {
    font-size: 0px;
    position: relative;
    p {
      font-family: 'Inter', sans-serif;
      font-weight: 300;
      font-size: rem(16px);
      line-height: 130%;
      color: #FFFFFF;
      cursor: pointer;
      padding-left: rem(37px);
      a {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }


  .wpcf7-list-item-label:before {
    content: "";
    display: block;
    width: rem(23px);
    height: rem(23px);
    background: #ffffff;
    border-radius: rem(5px);
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .wpcf7-list-item-label::after {
    content: "";
    display: block;
    width: rem(19px);
    height: rem(14px);
    position: absolute;
    top: rem(4px);
    left: rem(2px);
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
    background: url('../icons/check.svg') no-repeat;
    background-size: rem(19px) rem(14px);
  }

  &__checkbox input:checked + .wpcf7-list-item-label:after {
    opacity: 1;
  }

  .wpcf7-list-item {
    margin: 0px;
  }

  .wpcf7-response-output,
  .wpcf7-spinner {
    display: none;
  }
  //checkbox


  @media (max-width: 1199px) {
    &__box {
      grid-template-columns: 1fr;
    }

    &__input:nth-child(4) {
      grid-column: 1;
    }
  }

  @media (max-width: 767px) {
    &__box form {
      grid-template-columns: 1fr;
      grid-gap: rem(10px);
    }

    span:nth-child(2),
    span:nth-child(5),
    span:nth-child(6) {
      grid-column: auto;
    }

    &__button {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    & {
      padding: rem(20px) rem(10px);
      border-radius: rem(20px);
    }


    &__title {
      text-align: center;
      font-size: rem(24px);
    }

    &__radio-title {
      font-size: rem(14px);
    }

    &__box {
      margin-top: rem(24px);
    }

    &__input {
      font-size: rem(14px);
    }

    &__button {
      font-size: rem(14px);
    }
  }
}