.jq-selectbox {
    position: relative;
    width: 100%;

    &__select {
      display: flex;
      align-items: center;
      transition: 0.1s;
      cursor: pointer;
      position: relative;
      border-radius: rem(47px);
      padding: rem(11px) rem(40px) rem(12px) rem(20px);
      border: rem(1px) solid #FFFFFF;
      background: #FFFFFF;
      width: 100%;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: rem(20px);
        transform: translate(0, -50%);
        width: rem(9px);
        height: rem(7px);
        background: url('../icons/select.svg') no-repeat;
        background-size: 100% 100%;
        transition: 0.4s ease-out;
      }
    }

  &.opened &__select:before {
    transform: translate(0, -50%) rotate(180deg);
  }

   &__select-text {
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: rem(16px);
      line-height: 130%;
      color: #3A3A3A;
    }


    &__dropdown {
      width: 100%;
      padding: rem(10px) 0;
      background-color: #fff;
      border-top: none;
      border-radius: rem(20px);
      margin-top: rem(5px);
      transition: 0.4s ease-out;
    }


    &__list {
      max-height: 320px;
      overflow-y: auto;
    }

  &__dropdown li {
      display: block;
      padding: rem(5px) rem(20px);
      margin-bottom: 0;
      user-select: none;
      cursor: pointer;
      transition: 0.3s;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: rem(16px);
      line-height: 130%;
      color: #3A3A3A;
    }

  &__dropdown li.selected {
    background: #003B81;
    color: #ffffff;
  }




    @media (max-width: 480px) {
      &__trigger span,
      &__list label {
        font-size: rem(14px);
      }

    }

}