.news {
  &__content {
    padding: rem(10px) 0px rem(30px);
    overflow: hidden;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: rem(36px);
    font-weight: 600;
    line-height: 130%;
    color: #3A3A3A;
    margin-bottom: rem(33px);
  }

  &__inner {
    display: flex;
  }

  &__left {
    display: flex;
    margin-right: rem(60px);
  }


  &__left .news-article {
    width: rem(355px);
    &:not(:last-child) {
      margin-right: rem(24px);
    }
  }


  &__right {
    width: rem(411px);
  }

  &__right &__article {
    width: 100%;
    transition: 0.4s ease-out;
    &:not(:last-child) {
      margin-bottom: rem(20px);
    }
    &:hover {
      -webkit-box-shadow: -4px 35px 33px -35px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: -4px 35px 33px -35px rgba(34, 60, 80, 0.2);
      box-shadow: -4px 35px 33px -35px rgba(34, 60, 80, 0.2);
    }
  }

  &__right .news-article__link-box {
    display: block;
  }

  &__right &__article:last-child &__data {
   border-bottom: none;
  }

  &__slider {
    display: none;
  }

  @media (max-width: 1199px) {
    &__left .news-article  {
      width: rem(283px);
    }
  }

  @media (max-width: 991px) {
    &__inner {
      display: none;
    }

    &__slider {
      display: block;
    }
  }

  @media (max-width: 480px) {
    &__title {
      font-size: rem(24px);
      margin-bottom: rem(15px);
      text-align: center;
    }
  }
}

