.products {
  &__content {
  }

  &__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: rem(43px);
    margin-top: rem(30px);
  }



  &__back {
    font-family: 'Montserrat', sans-serif;
    font-size: rem(16px);
    font-weight: 500;
    line-height: 124%;
    color: #003B81;
    position: relative;
    padding-left: rem(22px);
    margin-bottom: rem(5px);
    &:before {
      content: '';
      position: absolute;
      width: rem(18px);
      height: rem(8px);
      top: 50%;
      left: 0px;
      transform: translate(0, -50%);
      background: url('../img/products/arrow.svg') no-repeat;
      transition: 0.4s ease-out;
    }
    &:hover:before {
      transform: translate(rem(-3px), -50%);
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: rem(32px);
    font-weight: 700;
    line-height: 130%;
    color: #3A3A3A;
  }

  &__btn {
    text-align: center;
  }

  &__table {
    display: block;
    tbody {
      display: block;
      width: rem(1400px);
    }
  }

  &__tr {
    display: flex;
    align-items: center;
    text-align: left;
    background: #F5F5F5;
    padding: rem(4px) rem(14px) rem(5px) rem(37px);
    &:not(:last-child) {
      border-bottom: rem(0.5px) solid #777777;
    }
    &:nth-child(1) {
      background: #003B81;
      padding: rem(20px) rem(14px) rem(19px) rem(37px);
      border-radius: rem(20px) rem(20px) 0px 0px;
    }
    &:last-child {
      border-radius: 0px 0px rem(20px) rem(20px);
    }
  }

  &__th {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: rem(14px);
    font-weight: 500;
    line-height: 130%;
    color: #FFFFFF;
    &:nth-child(1) {
      margin-right: rem(76px);
      width: rem(116px);
    }
    &:nth-child(2) {
      margin-right: rem(32px);
      width: rem(55px);
    }
    &:nth-child(3) {
      margin-right: rem(30px);
      width: rem(59px);
    }
    &:nth-child(4) {
      margin-right: rem(18px);
      width: rem(126px);
    }
    &:nth-child(5) {
      margin-right: rem(20px);
      width: rem(56px);
    }
    &:nth-child(6) {
      margin-right: rem(12px);
      width: rem(99px);
    }
    &:nth-child(7) {
      margin-right: rem(14px);
      width: rem(141px);
    }
    &:nth-child(8) {
      margin-right: rem(21px);
      width: rem(77px);
    }
    &:nth-child(9) {
      margin-right: rem(25px);
      width: rem(241px);
    }
    &:nth-child(10) {
      width: rem(139px);
    }
  }

  &__td {
    display: block;
    font-family: 'Montserrat', sans-serif;
    line-height: 130%;
    font-size: rem(14px);
    font-weight: 400;
    color: #000000;
    &:nth-child(1) {
      margin-right: rem(76px);
      width: rem(116px);
      font-weight: 600;
      font-size: rem(14px);
      color: #003B81;
    }
    &:nth-child(2) {
      margin-right: rem(32px);
      width: rem(55px);
    }
    &:nth-child(3) {
      margin-right: rem(30px);
      width: rem(59px);
    }
    &:nth-child(4) {
      margin-right: rem(18px);
      width: rem(126px);
    }
    &:nth-child(5) {
      margin-right: rem(20px);
      width: rem(56px);
    }
    &:nth-child(6) {
      margin-right: rem(12px);
      width: rem(99px);
    }
    &:nth-child(7) {
      margin-right: rem(14px);
      width: rem(141px);
    }
    &:nth-child(8) {
      margin-right: rem(21px);
      width: rem(77px);
    }
    &:nth-child(9) {
      margin-right: rem(25px);
      width: rem(241px);
    }
    &:nth-child(10) {
      width: rem(139px);
    }
  }

  &__value-inner {
    display: flex;
    align-items: center;
    height: rem(31px);
    border-radius: rem(10px);
    border: rem(1px) solid #003B81;
    padding: rem(0px) rem(25px);
  }

  &__minus {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }

  &__value {
    width: 100%;
    text-align: center;
    padding: rem(0px) rem(5px);
  }

  &__plus {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }
  &__td {
    display: flex;
    align-items: flex-end;
  }


  &__td-box {
    position: relative;
    display: flex;
    align-items: flex-end;
    &:not(:last-child) {
      padding-right: rem(12px);
      margin-right: rem(10px);
      &:before {
        content: '';
        position: absolute;
        bottom: rem(-3px);
        right: 0px;
        width: rem(1px);
        height: rem(31px);
        background: #003B81;
        transform: rotate(10deg);
      }
    }
  }

  &__td-existence {
  }

  &__address {
    background: #34A400;
    border-radius: rem(12px);
    padding: rem(4px) rem(7px) rem(4px) rem(7px);
    font-family: 'Montserrat', sans-serif;
    font-size: rem(14px);
    font-weight: 400;
    line-height: 130%;
    color: #FFFFFF;
    text-align: center;
    &:not(:last-child) {
      margin-right: rem(2px);
    }
  }

  &__td-basket {
    font-family: 'Manrope', sans-serif;
    font-size: rem(14px);
    font-weight: 500;
    line-height: 130%;
    color: #003B81;
    text-align: center;
    border-radius: rem(58px);
    border: rem(1px) solid #003B81;
    padding: rem(6px);
    width: 100%;
    transition: 0.4s ease-out;
    &:hover {
      background: #003B81;
      color: #ffffff;
    }
  }

  &__phone {
    display: none;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(10px) rem(2px);
    margin-top: rem(30px);
  }

  &__item {
    border-radius: rem(20px);
    background: #F5F5F5;
    padding: rem(10px);
  }

  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: rem(14px);
    font-weight: 600;
    line-height: 130%;
    color: #003B81;
    margin-bottom: rem(10px);
  }

  &__list {
    margin-bottom: rem(8px);
    li {
      font-family: 'Manrope', sans-serif;
      font-size: rem(12px);
      font-weight: 500;
      line-height: 130%;
      color: #000000;
      &:not(:last-child) {
        margin-bottom: rem(5px);
      }
    }
  }

  &__item-margin {
    margin-bottom: rem(5px);
  }

  &__item-margin2 {
    margin-bottom: rem(10px);
  }

  &__item-inner {
    display: flex;
    align-items: flex-end;
    margin-bottom: rem(5px);
  }

  &__item-box {
    width: rem(16px);
    margin-right: rem(15px);
  }

  &__item-margin3 {
    margin-top: rem(10px);
  }

  &__link {
    font-family: 'Manrope', sans-serif;
    font-size: rem(14px);
    font-weight: 500;
    line-height: 130%;
    color: #003B81;
    text-decoration: underline;
    margin: 0 auto;
    display: block;
    margin-top: rem(20px);
    width: rem(118px);
    text-align: center;
  }

  &__address_no {
    color: #D8D8D8;
    background: #ffffff;
  }


  @media (max-width: 1530px) {
    &__table {
      overflow-x: hidden;
    }
  }

  @media (max-width: 991px) {
    &__table {
      display: none;
    }
  }
  @media (max-width: 480px) {
    &__phone {
      display: block;
    }

    &__inner {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__back {
      margin-bottom: rem(20px);
    }

    &__column {
      margin-bottom: rem(20px);
    }

    &__title {
      font-size: rem(24px);
    }
  }

}

.select {
  position: relative;
  width: 100%;

  &__trigger {
    display: flex;
    align-items: center;
    padding: rem(5px) rem(28px) rem(4px) rem(10px);
    transition: 0.1s;
    user-select: none;
    cursor: pointer;
    position: relative;
    border-radius: rem(10px) ;
    border: rem(1px) solid #003B81;
    height: rem(31px);
    transition: 0.4s ease-out;
    background:#F5F5F5;
  }

  &__trigger.active {
    border-radius: rem(10px) rem(10px) rem(0px) rem(0px);
    border-bottom: 0px;
  }

  &__trigger span {
    display: block;
    font-family: "Montserrat", sans-serif;
    line-height: 130%;
    font-size: 0.875rem;
    font-weight: 400;
    color: #000000;
  }

  &__arrow {
    position: absolute;
    top: rem(6px);
    right: rem(12px);
  }


  &__arrow svg {
    transform: rotate(0deg);
  }

  &__trigger.active &__arrow svg {
    transform: rotate(180deg);
  }


  &__drop {
    display: none;
    width: 100%;
    background-color:#F5F5F5;
    border-top: none;
    position: absolute;
    z-index: 10;
    border-radius: 0px 0px rem(10px) rem(10px);
    top: 100%;
    border: rem(1px) solid #003B81;
    overflow: hidden ;
  }

  &__drop.open {
    display: block;
  }

  &__list {
    max-height: 320px;
    overflow-y: auto;
  }

  &__list input {
    display: none;
  }

  &__list label {
    display: block;
    padding: rem(5px) rem(10px);
    margin-bottom: 0;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
    line-height: 130%;
    font-size: 0.875rem;
    font-weight: 400;
    color: #000000;
    &:not(:last-child) {
      border-bottom: rem(1px) solid #003B81;
    }
  }

  &__list li:not(:last-child) label {
      border-bottom: rem(1px) solid #003B81;
  }

  &__list input:checked + label {
    background-color: #1F284E;
    color: #fff;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(10px) rem(2px);
  }



}

.select-phone {
  position: relative;
  width: 100%;

  &__trigger {
    display: flex;
    align-items: center;
    padding: rem(5px) rem(35px) rem(4px) rem(10px);
    transition: 0.1s;
    user-select: none;
    cursor: pointer;
    position: relative;
    border-radius: rem(10px) ;
    border: rem(1px) solid #003B81;
    height: rem(48px);
    transition: 0.4s ease-out;
    background:#ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: rem(14px);
    font-weight: 500;
    line-height: 130%;
    color: #003B81;
  }

  &__trigger.active {
    border-radius: rem(10px) rem(10px) rem(0px) rem(0px);
    border-bottom: 0px;
  }

  &__trigger span {
    display: block;

  }

  &__arrow {
    position: absolute;
    top: rem(16px);
    right: rem(12px);
  }


  &__arrow svg {
    transform: rotate(0deg);
  }

  &__trigger.active &__arrow svg {
    transform: rotate(180deg);
  }


  &__drop {
    display: none;
    width: 100%;
    border-top: none;
    background:#ffffff;
    position: absolute;
    z-index: 10;
    border-radius: 0px 0px rem(10px) rem(10px);
    top: 100%;
    border: rem(1px) solid #003B81;
    overflow: hidden ;
  }

  &__drop.open {
    display: block;
  }

  &__list {
    max-height: 320px;
    overflow-y: auto;
  }

  &__list input {
    display: none;
  }

  &__list label {
    display: block;
    padding: rem(5px) rem(10px);
    margin-bottom: 0;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-size: rem(14px);
    font-weight: 500;
    line-height: 130%;
    &:not(:last-child) {
      border-bottom: rem(1px) solid #003B81;
    }
  }

  &__list li:not(:last-child) label {
    border-bottom: rem(1px) solid #003B81;
  }

  &__list input:checked + label {
    background-color: #1F284E;
    color: #fff;
  }

}

