.table {
  width: 100%;
  margin-bottom: rem(20px);

  &__tr {
    display: flex;
    align-items: center;
    background: #F5F5F5;
    padding: rem(10px) rem(24px);
    &:not(:last-child) {
      border-bottom: 0.5px solid #777777;
    }
    &:first-child {
      background: #003B81;
      border: none;
    }
  }

  &__th {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: rem(18px);
    line-height: 130%;
    color: #FFFFFF;
    &:first-child {
      flex-grow: 1;
      margin-right: rem(89px);
    }
    &:last-child {
      width: rem(152px);
      flex: 0 0 auto;
    }
  }

  &__td {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: rem(14px);
    line-height: 130%;
    color: #3A3A3A;
    &:first-child {
      flex-grow: 1;
      margin-right: rem(89px);
    }
    &:last-child {
      width: rem(152px);
      flex: 0 0 auto;
    }
  }

  @media (max-width: 480px) {
    &__tr {
      padding: rem(5px) rem(12px);
    }

    &__th,
    &__td  {
      font-size: rem(12px);
    }

    &__td:first-child,
    &__th:first-child {
      margin-right: rem(28px);
    }
    &__td:last-child,
    &__th:last-child {
      width: rem(100px);
    }
  }
}


